a {
	color: inherit;
	font: "Helvetica" sans-serif;
	text-decoration: none;
}

ul.tabs a {
	border-bottom: 1px solid black;
	padding: 5px 5px 0px 5px;
}

ul.tabs a.active {
	border-bottom: 0px;
}

ul.tabs {
	display: block;
	margin-top: 3px;

}

ul.tabs > li {
	float: left;
	border: 1px solid grey;
	border-bottom: 0px;
	border-left: 0px;
	border-top-left-radius: 15%;
	border-top-right-radius: 15%;
}

a.nav.right{
	float:left;
}

a.nav.left{
	float: left;
}

a.slide-right{
	margin-left: 20px;
}
a.slide-left{
	margin-right: 20px;
	float: right;
}

section.active{
	width: 400px;
}

div#content-tabs{
	padding: 32px 0 0 0;
}

.group:after{
	content: "";
	display: block;
	clear:both;
}

ul.names{
	margin-top: 10px;
	position: relative;
	left: 50px;

}