div.thumbs {
spanidth: 400px;
}

span.thumbs div.featured img {
	width: 400px;
	height: 400px;
	margin: auto;
}

span.thumbs div.gutter {
	position: relative;
	display: block;
}

span.thumbs div.gutter-images {
	float:left;
	position: relative;
	width: 360px;
}

span.thumbs div.gutter div.gutter-images img {
	display: block;
	float: left;
	width: 20%;
}

span.thumbs div.gutter a.nav {
	position: relative;
	text-align: center;
	text-decoration: none;
	top: 35%;
	width: 5%;
	font-size: 40px;
}

span.thumbs div.gutter a.nav-right {
	left: 95%;
}

.clearfix {
	clear: both;
}